<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="Car" class="com.desperado.bean.Car">
        <!--<property name="brand" value="baoma"/>-->
        <!--<property name="color" value="red"/>-->
        <!--<property name="speed" value="10000"/>-->
        <constructor-arg name="brand" value="aodi"/>
        <constructor-arg name="color" value="red"/>
        <constructor-arg name="speed" value="10000"/>
    </bean>

    <bean id="Person" class="com.desperado.bean.Person">
        <property name="name" value="xt"/>
        <property name="age" value="10000"/>
        <!--<property name="car" ref="Car"/>-->
        <property name="car">
            <bean class="com.desperado.bean.Car">
                <property name="speed" value="2000"/>
                <property name="color" value="blue"/>
                <property name="brand" value="dazong"/>
            </bean>
        </property>
    </bean>
</beans>
